@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  font-family: 'Raleway', sans-serif;
  --azul: #2A7AE4;
  --formulario: #eaf2fd;
  --preto: #464646;
  --cinza: #A2A2A2;
  --formulario: #F5F5F5;
}

.container {
  padding: 16px 12px;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo > img {
  height: 30px;
}

.header__navegacao{ 
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__navegacao-login {
  border: 1px solid var(--azul);
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  color: var(--azul);
  
}

.header__navegacao-login:hover {
  background-color: #2a7be45c;
  transition: .5s;
}

.header__formulario {
  display: none;
}

/* Banner */

.banner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),
  linear-gradient(180deg, rgba(0, 0, 0, 0.00) 41.15%, rgba(0, 0, 0, 0.80) 100%),
  url(../assets/Cogumelo.jpg),
  lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  align-items: end;
  color: white;
}

.banner__texto {
  width: 100%;
}

.banner__texto h1, .banner__texto p {
  margin-bottom: 8px;
}

.banner__texto h1 {
  font-size: 1.375rem;
  font-weight: 700;
}

.banner__texto p, .banner__botao, .header__navegacao-login {
  font-size: 0.875rem;
  font-weight: 600;
}

.banner__botao {
  padding: 12px 16px;
  background-color: var(--azul);
  color: white;
  text-decoration: none;
  display: inline-block;
}

.banner__botao:hover {
  color: var(--azul);
  background-color: rgb(255, 255, 255);
  transition: .5s;
}


/* Main */ 

.principal {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.principal__produtos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.produtos__secao {
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.produtos__secao-titulo h2 {
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--preto);
}

.produtos__secao-link {
  display: flex;
  align-items: center;
  gap: 4px;
}

.produtos__secao-link::after {
  content: url(../assets/seta.svg);
  width: 16px;
  height: 16px;
}

.produtos__secao-link a {
  text-decoration: none;
  color: var(--azul);
  font-size: 0.875rem;
  font-weight: 700;
}

.produto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.produto__vitrine {
  width: calc((100% / 2) - 16px);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.produto__vitrine-descricao p:nth-child(1) {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--preto);
  margin-bottom: 8px;
}

.produto__vitrine-descricao p:nth-child(2) {
  font-size: 1rem;
}

.descricao__link {
  text-decoration: none;
  color: var(--azul);
  font-weight: 700;
  font-size: 0.875rem;
}

.extra {
  display: none;
}

/* rodape */

.background {
  background-color: #eaf2fd;
}

.rodape {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.rodape__informacao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rodape__informacao-logo img {
  width: 176px;
}

.rodape__informacao-lista {
  list-style: none;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

.rodape__informacao-lista li > a{
  text-decoration: none;
  color: var(--preto);
}

.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fieldset legend {
  margin-bottom: 8px;
}

.formulario__nome {
  padding: 8px 12px;
  background-color: white;
}

.formulario__label-nome {
  color: var(--cinza);
  font-size: 0.75rem;
  font-weight: 400;
}

.mensagem::placeholder, #nome::placeholder {
  font-size: 1rem;
  font-weight: 400;
}

::placeholder {
  font-family: 'Raleway', sans-serif;
  color: var(--cinza);
}

#nome {
  margin-top: 8px;
}

.mensagem {
  resize: none;
  padding: 12px;
  height: 100%;
}

#nome, .mensagem{
  width: 100%;
  outline: none;
  border: none;
  color: var(--preto);
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

.formulario__submit {
  background-color: var(--azul);
  color: white;
  padding: 16px 12px;
  border: 1px solid transparent;
}

.formulario__submit:hover {
  background-color: white;
  color: var(--azul);
  transition: .5s;
  cursor: pointer;
  border: 1px solid var(--preto);
}

footer {
  text-align: center;
  padding: 32px 63px;
  font-weight: 400;
}