@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {

  font-family: 'Raleway', sans-serif;
  --azul: #2A7AE4;
  --preto: #464646;
  --cinza: #A2A2A2;
  --formulario: #F5F5F5;
}

.container {
  padding: 16px 12px;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo > img {
  height: 30px;
}

.header__navegacao{ 
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__navegacao-login {
  border: 1px solid var(--azul);
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  color: var(--azul);
  
}

.header__navegacao-login:hover {
  background-color: #2a7be45c;
  transition: .5s;
}

.header__formulario {
  display: none;
}

/* Banner */

.banner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),
  linear-gradient(180deg, rgba(0, 0, 0, 0.00) 41.15%, rgba(0, 0, 0, 0.80) 100%),
  url(/assets/Cogumelo.jpg),
  lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  align-items: end;
  color: white;
}

.banner__texto {
  width: 100%;
}

.banner__texto h1, .banner__texto p {
  margin-bottom: 8px;
}

.banner__texto h1 {
  font-size: 1.375rem;
  font-weight: 700;
}

.banner__texto p, .banner__botao, .header__navegacao-login {
  font-size: 0.875rem;
  font-weight: 600;
}

.banner__botao {
  padding: 12px 16px;
  background-color: var(--azul);
  color: white;
  text-decoration: none;
  display: inline-block;
}
